<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="manifest" href="/Fedex 05.08/Fedex/Toilet/web/app_dev.php/web/manifest.json">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
